<?xml version="1.0" encoding="UTF-8"?>
<CaptureVAppParams
  xmlns="http://www.vmware.com/vcloud/v1.5"
  name="{{ vapp_tmpl_name }}">
  <Description>{{ vapp_tmpl_desc }}</Description>
  <Source
    href="{{ vapp_href.value }}" />
</CaptureVAppParams>
